.aggre-gate-root-card-content-style {
    width:100%;
}

.aggre-gate-root-typography-style {
    margin-bottom: 1.5rem;
    width:240px;
}

.aggre-gate-root-grid-style {
    position:relative;
}

.aggre-gate-root-alert-style {
    width: 100%;
}

.card-layout {
    margin:10px;
}
.all-card-layout {
    width:98vw;
}